global_defs {
    enable_script_security
    script_user root
}

# TODO: Improve this check. The port is assumed to be alive.
# Need to assess what is the ramification if the port is not there.
vrrp_script chk_haproxy {
    script "/usr/bin/timeout 0.9 /etc/keepalived/chk_ocp_script.sh"
    interval 1
    weight 50
}

vrrp_instance {{ dns.clusterid }}_HAPROXY {
    state BACKUP
    interface {{ '{{' }} .VRRPInterface {{ '}}' }}
    virtual_router_id {{ '{{' }} .Cluster.APIVirtualRouterID {{ '}}' }}
    priority 100
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ dns.clusterid }}_haproxy_vip
    }
    virtual_ipaddress {
        {{ ocp_haproxy_vip }}/24
    }
    track_script {
        chk_haproxy
    }
}