#!/usr/bin/bash

#########
# Get images for keepalived and haproxy based on installed OCP release
#########
. ./release-image.sh

# pull the release image since some of the master nodes do not pull it by default
podman pull --quiet "$RELEASE_IMAGE_DIGEST"

KEEPALIVED_IMAGE=$(image_for keepalived-ipfailover)
HAPROXY_IMAGE=$(image_for haproxy-router)
BAREMETAL_RUNTIMECFG_IMAGE=$(image_for baremetal-runtimecfg)

#echo "KEEPALIVED_IMAGE=$KEEPALIVED_IMAGE"
#echo "HAPROXY_IMAGE=$HAPROXY_IMAGE"
#echo "BAREMETAL_RUNTIMECFG_IMAGE=$BAREMETAL_RUNTIMECFG_IMAGE"

sed -i "s|__keepalived_image__|${KEEPALIVED_IMAGE}|g" keepalived.yaml
sed -i "s|__baremetal_runtimecfg_image__|${BAREMETAL_RUNTIMECFG_IMAGE}|g" keepalived.yaml
sed -i "s|__haproxy_image__|${HAPROXY_IMAGE}|g" haproxy.yaml
sed -i "s|__baremetal_runtimecfg_image__|${BAREMETAL_RUNTIMECFG_IMAGE}|g" haproxy.yaml

cat <<EOF >chk_ocp_script.sh
#!/bin/bash 
/usr/bin/curl -o /dev/null -kLfs https://localhost:6443/readyz && /usr/bin/curl -o /dev/null -kLfs http://localhost:50936/readyz
EOF
chmod +x chk_ocp_script.sh

########
# for configure files
########
# interface=$(ifconfig | awk -F:  '/__IP_ADDR__/ {print $1}' RS="\n\n");
# sed -i "s|__vip_interface__|${interface}|g" keepalived.conf
sudo mkdir -p /etc/haproxy /etc/kubernetes/static-pod-resources/haproxy
sudo cp haproxy.cfg.tmpl /etc/haproxy/haproxy.cfg
sudo cp haproxy.cfg.tmpl /etc/kubernetes/static-pod-resources/haproxy/.
sudo mkdir -p /etc/kubernetes/static-pod-resources/keepalived /etc/keepalived
sudo cp keepalived.conf.tmpl /etc/kubernetes/static-pod-resources/keepalived/.
sudo cp chk_ocp_script.sh /etc/keepalived/.

########
# for static pod yaml files to kubenetes directory
########
sudo cp haproxy.yaml /etc/kubernetes/manifests/.
sudo cp keepalived.yaml /etc/kubernetes/manifests/.
